:root {
    --bg-clr: 22, 22, 22;
    --text-clr: #E0E0E0;
    --text-secondary-clr: #cecece;
    --secondary-clr: #202020;
    --dark-clr: #000;
    --gray-clr: 126, 126, 126;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-clr);
    background: rgb(var(--bg-clr));
    background-image: radial-gradient(var(--secondary-clr) 1px, transparent 0);
    background-size: 20px 20px;
    background-position: -19px -19px;
    background-attachment: fixed;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    backdrop-filter: blur(15px);
    border-bottom: 1px solid var(--secondary-clr);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

nav > ul {
    display: flex;
    gap: 25px;
}

nav > ul > li {
    list-style: none;
}

nav > ul > li > a:hover {
    color: var(--text-secondary-clr);
}

nav > ul > li::after {
    content: "/";
    margin-left: 10px;
    font-size: 20px;
    position: absolute;
    top: 30px;
    color: rgb(var(--gray-clr));
}

nav > ul > li:last-child::after{
    content: "";
}


.mail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: 600;
}

.mail > .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--secondary-clr);
    display: flex;
    justify-content: center;
}

.mail > .icon > svg {
    width: 20px;
    height: auto;
    fill: var(--text-clr);
}

.index-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 85px;
}

.me {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    color: var(--text-secondary-clr);
    margin-bottom: 2rem;
    margin-top: 90px;
}

 .portrait{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-clr);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.btn-main {
    background-color: var(--secondary-clr);
    outline: 1px solid transparent;
    border: 1px rgba(var(--gray-clr), .3) solid;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 18px 45px;
    color: rgb(var(--gray-clr));
    margin-top: 1rem;
    transition: all 200ms ease ;
    font-weight: 700;
    max-width: 250px;
}

.btn-main span {
    display: flex;
    align-items: center;
}

.btn-main span svg {
    height: 15px;
    width: auto;
    fill: rgb(var(--gray-clr));
    
}

.btn-main:hover {
    background-color: rgba(var(--bg-clr));
    scale: 1.01;
}

.main-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.main-card {
    background-color: var(--secondary-clr);
    outline: 1px solid transparent;
    border: 1px rgba(var(--gray-clr), .3) solid;
    color: var(--text-secondary-clr);
    padding: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    place-content: end center;
    transition: all 200ms ease;
}

.main-card > span {
    height: 150px;
    display: grid;
    place-content: end start;
    padding-bottom: 20px;
}

.main-card > span > svg {
    width: auto;
    height: 25px;
    fill: rgba(var(--gray-clr), .4);
}

.main-card > p {
    margin-top: 10px;
    color: rgb(var(--gray-clr));
}

.main-card:hover {
    box-shadow: 0px 0px 15px rgba(var(--gray-clr), 0.1);
    cursor: default;
}

.gradient-text {
    margin: 100px 0 50px 0;
    background: linear-gradient(90deg, rgb(199, 199, 199) 0%, rgb(199, 199, 199) 15%, rgba(210,210,210,1) 29%, rgba(199,199,199,1) 38%, rgb(101, 101, 101) 75%);
    background-clip: text;
    text-align: center;
}

.gradient-text > h2 {
    font-size: 2rem;
    max-width: 600px;
    color: transparent;
    padding: 10px;
}

.slider {
    background-color: var(--secondary-clr);
    height: 250px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    user-select: none;
}

.middle-content {
    display: inline-block;
    white-space: nowrap;
    height: 100%;
    text-align: center;
    animation: scroll 30s linear infinite;
}

.slider:hover > .middle-content {
    animation-play-state: paused;
}

.middle-content > .language-item {
    display: inline-block;
    height: 100%;
    min-width: 300px;
    max-width: 350px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


.middle-content > .language-item > svg {
    width: auto;
    height: 100%;
    fill: #000;
}

.middle-content > .language-item > svg > rect {
    fill: var(--text-secondary-clr);
}

.line {
    height: 1px;
    width: 100%;
    background-color: rgba(var(--gray-clr), .3);
    margin-top: 100px;
    position: relative;
}

.line.cv::after {
    content: "Cv";
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: var(--secondary-clr);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    font-size: .7em;
    right: 50%;
    transform: translate(50%, -40%);
    rotate: -0.010turn;
}

.line.kontakt::after {
    content: "Kontakt";
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: var(--secondary-clr);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    font-size: .7em;
    right: 50%;
    transform: translate(50%, -60%);
    rotate: 0.010turn;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer {
    background-color: var(--secondary-clr);
    height: 80px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    color: rgb(var(--gray-clr));
}

.footer > .socials {
    display: flex;
    gap: 1rem;
}

.footer > .socials > .social-item > a > svg{
    height: auto;
    width: 25px;
} 

.aboutme-main {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 85px;
    cursor: default;
}

.title {
    margin-top: -2rem;
    font-size: 16vw;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    font-family: 'Impact', sans-serif;
    border-bottom: rgba(var(--gray-clr), .3) solid 1px;
    width: 100%;
}

.info-me {
    width: 50%;
    font-family: 'impact', sans-serif;
    border-bottom: rgba(var(--gray-clr), .3) solid 1px;
    border-left: rgba(var(--gray-clr), .3) solid 1px;
    height: 350px;
    padding: 20px;
    display: flex;
    align-items: start;
    font-size: 1em;
    position: relative;
}

.info-me::after {
    content: "Om mig själv";
    border-bottom: rgba(var(--gray-clr), .3) solid 1px;
    position: absolute;
    width: 200px;
    left: -200px;
    bottom: -1px;
    font-family: 'Impact', sans-serif;
    font-size: 2em;
    color: var(--text-clr);
}


.old {
    width: 50%;
    font-family: 'impact', sans-serif;
    border-left: rgba(var(--gray-clr), .3) solid 1px;
    border-bottom: rgba(var(--gray-clr), .3) solid 1px;
    height: 350px;
    padding: 20px;
    display: flex;
    align-items: start;
    flex-direction: row;
    white-space: nowrap;
    font-size: .8em;
    position: relative;
    gap: 1rem;
    color: var(--text-secondary-clr);
}

.old::after {
    content: "Hur gammal?";
    position: absolute;
    width: 200px;
    left: -200px;
    bottom: -1px;
    font-family: 'Impact', sans-serif;
    font-size: 2em;
    color: var(--text-clr);
    border-bottom: rgba(var(--gray-clr), .3) solid 1px;
}

.old h2 {
    font-family: 'impact', sans-serif;
    font-size: 15vw;
    margin-top: -2rem;
    color: var(--text-clr);
}

.old p {
    font-size: 2.5em;
}


.website {
    width: 50%;
    font-family: 'impact', sans-serif;
    border-bottom: rgba(var(--gray-clr), .3) solid 1px;
    border-left: rgba(var(--gray-clr), .3) solid 1px;
    height: 530px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    white-space: nowrap;
    font-size: .8em;
    position: relative;
    gap: 1rem;
    color: var(--text-secondary-clr);
}

.website.project {
    height: 600px;
}

.website::after {
    content: "Väldesignad Webbsida 👏";
    border-bottom: rgba(var(--gray-clr), .3) solid 1px;
    position: absolute;
    width: 300px;
    left: -300px;
    bottom: -1px;
    font-family: 'Impact', sans-serif;
    font-size: 2em;
}

.website.project::after {
    content: "Eget projekt 👏";
    border-bottom: rgba(var(--gray-clr), .3) solid 1px;
    position: absolute;
    width: 300px;
    left: -300px;
    bottom: -1px;
    font-family: 'Impact', sans-serif;
    font-size: 2em;
}

.website > a > img {
    width: 100%;
    max-width: 700px;
}

.website > p {
    font-size: 1.5em;
    width: 100%;
    text-wrap: wrap;
}


.loading {
    position: fixed;
    background-color: rgba(var(--bg-clr));
    height: 100vh;
    width: 100vw;
    z-index: 99999;
    top: 0;
    opacity: 100;
    transition: opacity 600ms linear;
    user-select: none;
}
/* Loading screen styles */
.loader{
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: inline-block;
    z-index: 9999;
  }

  .cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    border: 1px rgb(var(--gray-clr), .5) solid;
    background-color: rgb(var(--gray-clr), .3);
    border-radius: 50%;
    pointer-events: none; /* Make it ignore mouse interactions */
    transition: transform 0.1s linear, background-color 200ms ease, width 200ms ease, height 200ms ease; /* Smooth movement */
    z-index: 9999;
    display: grid;
    place-content: center;
}

.cursor > svg {
    opacity: 0;
    width: 20px;
    height: 20px;
    aspect-ratio: 1;
    fill: rgb(var(--gray-clr), .6);
    transition: opacity 200ms ease;
}

.cursor.clicked {
    background-color: rgb(var(--gray-clr), .5); /* Change to a lighter, more white-ish color */
}

.back-btn {
    display: none;
}

.row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .row {
    margin: -20px 0;
  }
  
  .col {
    padding: 0 20px;
    float: left;
    box-sizing: border-box;
  }
  
  .col.x-50 {
    width: 50%;
  }
  
  .col.x-100 {
    width: 100%;
    height: 100px;
  }
  
  .content-wrapper {
    min-height: 100%;
    position: relative;
  }
  
  .get-in-touch {
    height: 100vh;
    max-width: 650px;
    margin: 0 auto;
    position: relative;
    display: grid;
    place-content: center;
}
  
  .get-in-touch .title {
    text-align: center;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 36px;
    line-height: 48px;
    padding-bottom: 15px;
    margin-bottom: 40px;
  }
  
  .contact-form .form-field {
    position: relative;
    margin-bottom: 25px;
  }
  
  .contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    outline: 1px transparent solid;
    border: none;
    background: var(--secondary-clr);
    padding: 10px;
    color: var(--text-secondary-clr);
  }

  .contact-form .textarea {
    height: 100px !important;
    resize: none;
  }

  .align-center {
    display: grid;
    place-content: center;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    color: var(--text-secondary-clr);
}
th, td {
    border: 1px solid rgba(var(--gray-clr));
    padding: 8px;
}
th {
    background-color: var(--secondary-clr);
    text-align: left;
}
td {
    vertical-align: top;
    background-color: rgb(var(--bg-clr));
}

.double-item {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.header {
    background-color: var(--secondary-clr);
    width: 100%;
    padding: 20px 30px;
    color: var(--text-clr);
    font-size: 1.2rem;
}




@media only screen and (max-width: 600px) {
    nav > ul {
        display: none;
    }
    .title {
        margin-top: -1rem;
    }
    .website, .old, .info-me {
        width: 100%;
        overflow: hidden;
        text-align: center;
    }
    .website::after, .old::after, .info-me::after {
        display: none;
    }
    .old > h2 {
        font-size: 20em;
    }
    .old > p {
        font-size: 3em;
    }
    .back-btn {
        display: block;
        width: 25px;
    }
    
    .back-btn > a {
        display: flex;
        align-items: center;
        gap: .5rem;
        fill: var(--text-clr);
    }
    
    .back-btn > a > svg {
        width: 100%;
        height: 100%;
    }
    .cursor {
        display: none;
    }
    .middle-content {
        animation-duration: 15s;
    }
}

